body{
	background: #d2d2c1 url('imagens/fundo.png');
	font: 16px Arial, helvetica, sans-serif;
}
#main{
	width: 900px;
}
#menu{
	background: #c5c5b2;
	padding: 18px;
	font: ;
}
#conteudo{
	background: #e8e8d9;
	padding: 10px;
	width: 900px;
}
.center{
	text-align: center;
}
.img-campanha{
	border: 10px solid #c3c3ae;
}
a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bolder;
	padding: 5px;
}
h1{
	color: #828271;
	font-size: 1.2em;
}